USE [master]
GO
/****** Object:  Database [coffee]    Script Date: 02.03.2022 14:35:50 ******/
CREATE DATABASE [coffee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'coffee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\coffee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'coffee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\coffee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [coffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [coffee]
GO
/****** Object:  Table [dbo].[Autorization]    Script Date: 02.03.2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autorization](
	[id_пользвателя] [int] NOT NULL,
	[Логин] [nvarchar](50) NOT NULL,
	[Пароль] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Autorization] PRIMARY KEY CLUSTERED 
(
	[id_пользвателя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ingridients]    Script Date: 02.03.2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ingridients](
	[id_ингридиента] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Количество] [float] NOT NULL,
 CONSTRAINT [PK_ingridients] PRIMARY KEY CLUSTERED 
(
	[id_ингридиента] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 02.03.2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id_товара] [int] NOT NULL,
	[Наименование] [nvarchar](50) NOT NULL,
	[Описание] [nvarchar](100) NULL,
	[Путь_к_изображению] [nvarchar](100) NULL,
	[Вес] [float] NOT NULL,
	[Единица_измерения] [nvarchar](4) NOT NULL,
	[Цена] [float] NOT NULL,
	[id_type] [int] NULL,
 CONSTRAINT [PK_products] PRIMARY KEY CLUSTERED 
(
	[id_товара] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Structure]    Script Date: 02.03.2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Structure](
	[id_состава] [int] NOT NULL,
	[id_товара] [int] NOT NULL,
	[id_ингридиента] [int] NOT NULL,
	[Количество] [float] NOT NULL,
 CONSTRAINT [PK_Structure] PRIMARY KEY CLUSTERED 
(
	[id_состава] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type1]    Script Date: 02.03.2022 14:35:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type1](
	[id_type] [int] NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type1] PRIMARY KEY CLUSTERED 
(
	[id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK_products_Type1] FOREIGN KEY([id_type])
REFERENCES [dbo].[Type1] ([id_type])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK_products_Type1]
GO
ALTER TABLE [dbo].[Structure]  WITH CHECK ADD  CONSTRAINT [FK_Structure_ingridients] FOREIGN KEY([id_ингридиента])
REFERENCES [dbo].[ingridients] ([id_ингридиента])
GO
ALTER TABLE [dbo].[Structure] CHECK CONSTRAINT [FK_Structure_ingridients]
GO
ALTER TABLE [dbo].[Structure]  WITH CHECK ADD  CONSTRAINT [FK_Structure_products] FOREIGN KEY([id_товара])
REFERENCES [dbo].[products] ([id_товара])
GO
ALTER TABLE [dbo].[Structure] CHECK CONSTRAINT [FK_Structure_products]
GO
USE [master]
GO
